html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #202020 !important;
    color: #fff !important;
}


table {
    border-collapse: collapse;
    text-align: center
}

th {
    background: blue;
    color: white;
    padding: 10px 20px !important
}

th, td {
    border-style: solid !important;
    border-width: 0 1px 1px 0 !important;
    border-color: white !important;
    padding: 10px 20px !important
}

ul, li {
    list-style: none;
}

ol {
    border: 1px dashed #A5A5C7;
}

ol > li {
    list-style: upper-roman;
}

textarea#id1 {
    width: 100%;
}

section {
    margin: 10px;
    padding: 10px;
    border-top: 1px solid #88888866;
    border-radius: 4px;
    background: #181818;
    overflow: auto;
}

section:after {
    content: "";
    display: block;
    clear: both;
}

#test {
    padding: 10px;
}

.treadmill {
    position: relative;
    width: 100%;
    height: 500px;
    resize:both;
    overflow:auto;
    background: gray
}

.runner {
    position: absolute
}

.uploader {
    border: 1px dashed #A5A5C7;
    width: 100%;
    color: #92AAB0;
    text-align: center;
    vertical-align: middle;
    padding: 30px 0px;
    margin-bottom: 10px;
    font-size: 200%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.uploader .or {
    font-size: 50%;
    font-weight: bold;
    color: #C0C0C0;
    padding: 10px;
}

.uploader .browser label {
    background-color: #5a7bc2;
    padding: 5px 15px;
    color: white;
    padding: 6px 0px;
    font-size: 40%;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    display: block;
    width: 300px;
    margin: 20px auto 0px auto;
}

.uploader .browser input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: .0;
    filter: alpha(opacity=0);
    -o-transform: translate(250px, -50px) scale(1);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
}

.uploader.hover {
    background: #ddd;
    border-color: #aaa;
}

.uploader.error {
    background: #faa;
    border-color: #f00;
}

.uploader.drop {
    background: #afa;
    border-color: #0f0;
}

.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.left-side, .right-side {
    position: relative;
    overflow: auto;
}

.left-side {
    width: 30%;
    height: 100%;
    min-height: 100%;
    background: blue;
}

.right-side {
    position: relative;
    width: 70%;
    height: 50%;
    background: red;
}

.right-side:nth-child(odd) {
    background: #ff0000c2 !important;
}

.ui-resizable-e {
    position: absolute;
    cursor: e-resize;
    width: 8px;
    right: 0;
    top: 0;
    height: 100%;
    background-color: gray;
}

.ui-resizable-s {
    position: absolute;
    cursor: s-resize;
    width: 100%;
    bottom: 0;
    height: 8px;
    background-color: gray;
}

.tabs {
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
}

.tabs > input[type="radio"] {
    display: none;
}

.tabs > div {
    display: none;
    font-size: 16px;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2 {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.tabs > label {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #343a40;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.tabs > label:not(:first-of-type) {
    border-left: none;
}

.tabs > input[type="radio"]:checked + label {
    background-color: #6c757d;
}

.tabs textarea {
    padding: 40px 5px 5px 5px;
    width: 100%;
    height: 100%;
    outline: none;
}

.col-md-8 > p input {
    color: white;
}

.col-md-8 > p input:hover {
    color: blue;
}

.maping {
    height: 400px;
}

#areaMap {
    width: 100%;
    height: 500px;
    min-height: 100%;
}


::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 1px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #88888866;
    -webkit-box-shadow: 0px 0px 3px #000 inset;
    box-shadow: 0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #202020;
    -webkit-box-shadow: 0px 1px 1px #fff inset;
    box-shadow: 0px 1px 1px #fff inset;
    background-image: url('https://yraaa.ru/_pu/24/59610063.png');
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 3px;
    height: 3px
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}